@model SIMS.Models.SubCategoryModel

@{
    ViewBag.Title = "Add Sub Category";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<style>
    @@media (max-width:670px) {
        .admin-outer-form {
            padding: 0;
        }

        .admin-form {
            padding: 20px;
        }
    }
</style>
@using (Html.BeginForm("Create", "SubCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="card-body admin-outer-form">
        <div class="card-body admin-form">
            <h3>Create Sub Category</h3>
            <hr />
            <div class="row">
                <div class="col-12">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-12 col-md-10">

                    <div class="row" style="padding-bottom:10px;">

                        <div class="col-sm-6">
                            <label>Category</label>
                            @Html.DropDownListFor(model => model.CategoryID, new SelectList(Model.CategoryList, "ID", "Name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryID)
                        </div>


                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    @*<div class="row" style="padding-bottom:10px;">

                        <div class="col-12 col-md-12">
                            @Html.LabelFor(model => model.Discription)
                            @Html.EditorFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Discription)
                        </div>


                    </div>*@
                    <div class="row">
                        <div class="col-12">&nbsp;</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-6 col-sm-4">
                            <input type="submit" value="Create" class="btn btn-sm btn-dark btn-block" />
                        </div>
                        <div class="col-6 col-sm-4">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-dark btn-block" })

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


