@model SIMS.ViewModels.ChangePasswordModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayoutpage.cshtml";
}
<style>
    @@media (max-width:670px) {
        .admin-outer-form {
            padding: 0;
        }

        .admin-form {
            padding: 20px;
        }
    }
</style>
@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="card-body admin-outer-form">
        <div class="card-body admin-form">
            <h3> Change Password</h3>
            <hr />
            <div class="row">
                <div class="col-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-12">&nbsp;</div>
            </div>


            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">

                    <div class="row">
                        <div class="col-sm-12">
                            <label>User Name</label>
                            @Html.DropDownListFor(model => model.Id, new SelectList(Model.UsersList, "Id", "Name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.Password)
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-12" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6">
                            <label>Confirm Password</label>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-12" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-12">&nbsp;</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">

                            <input type="submit" value="Submit" name="ChangePassword" class="btn btn-sm btn-outline-info btn-dark col-12" style="margin-bottom:20px;" />
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">&nbsp;</div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


